<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>360 Controller</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body onload="initControl()" id="designframe">
<!--       <body> -->
  <div id="helmet">
    <canvas id="clickCanvas" width="200" height="200"></canvas>

  <a href="custom.html"><img src="../images/colorCircle.png" height="100"/></a>
  </div>
    <h2>Spin me around!</h2>

  <!-- // <script type="text/javascript" src="../js/360control.js"></script> -->
  <script type="text/javascript" src="../touch360.js"></script>

  </body>
</html>
