<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <body id="designframe">

  
  <!-- COLOR SWATCHES   -->
  <canvas id="btnChinWhite" width="100" height="100"></canvas>
  <canvas id="btnTEMPLATE" width="100" height="100"></canvas>
  <canvas id="btnBlack" width="100" height="100"></canvas>
  <canvas id="btnGreen" width="100" height="100"></canvas>
  </br>
  <canvas id="btnOrange" width="100" height="100"></canvas>
  <canvas id="btnGold" width="100" height="100"></canvas>
  <canvas id="btnRed" width="100" height="100"></canvas>
  </br>
  <canvas id="btnPurple" width="100" height="100"></canvas>
  <canvas id="btnOrange" width="100" height="100"></canvas>
  <h3>(work-in-progress)</h3>    
  <div>
    <canvas width="100" height="200"></canvas>
    <canvas id="customHelmet" width="973" height="1080"></canvas>
  </div>
  <!-- COMPONENT BUTTONS -->
  <img src='../images/UI/chin-guard-white.png' class="UI" id="chinUI">
  <img src='../images/UI/mask-white.png' class="UI" id="maskUI">
  <img src='../images/UI/visor-green.png' class="UI" id="visorUI">
  <img src='../images/UI/wrap-template.png' class="UI" id="wrapUI">
  <img src='../images/UI/back-panel-neon-green.png' class="UI" id="panelUI">
  <img src='../images/UI/headstrong.png' class="UI" id="strapUI">



 <script type="text/javascript" src="../js/custom.js"></script>

  </body>
</html>