<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>HOME | iframes</title>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
  <h1>hello world</h1>
  <div>
  	<iframe src="http://lax360.bitballoon.com/views/custom" height="445" width="100%"></iframe>
	</div>
	<h1>hello world2</h1>
  <div>
  	<iframe src="http://simplifylocal.herokuapp.com/map" height="445" width="100%"></iframe>
  </div>
  <h1>hello world3</h1>

     
  </body>
</html> 